{
    "Storage": "cassandra",
    "Database": [{
        "IP":       "127.0.0.1",
        "Port":     27017,
        "User":     "account",
        "Password": "pwd",
        "Database": "holmes_totem"
        }, {
        "IP":       "127.0.0.1",
        "Port":     27017,
        "User":     "account",
        "Password": "pwd",
        "Database": "holmes_totem"
        }
    ],
    "ObjStorage": "S3",
    "ObjDatabase": [{
        "IP":       "127.0.0.1",
        "Port":     27017,
        "Region":   "us-east-1",
        "Key":      "account",
        "Secret":   "pwd",
        "Bucket":   "holmes_totem",
        "DisableSSL":   true
        }, {
        "IP":       "127.0.0.1",
        "Port":     27017,
        "Region":   "us-east-1",
        "Key":      "account",
        "Secret":   "pwd",
        "Bucket":   "holmes_totem",
        "DisableSSL":   true
        }
    ],
    "LogFile": "",
    "LogLevel": "debug",

    "AMQP": "amqp://USER:PASSWORD@HOST:PORT",
    "Queue": "totem_output",
    "RoutingKey": "*.result.static.totem",
    "PrefetchCount": 10,

    "HTTP": ":8016",
    "ExtendedMime": true
}
